/*
 * CSS File for the solution
 * Final Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *
 * #cdb4db - Lavender Purple
 * #ffc8dd - Pink
 * #ffafcc - Light Pink
 * #bde0fe - Light Blue
 * #a2d2ff - Light Blue
 * #0c0a3e - Dark Purple
 * #797979 - Grey
 *
 * https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
 */

/*
 * FOR YOUR DESKTOP VIEWPORT I WOULD RECOMMEND THE FOLLOWING MEDIA QUERY
 *
 * @media screen and (min-width: 800px) {
 *    ... your styles here ...
 * }
 */

 html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #f7ead7;
}

/*
 * SR-ONLY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
 }


/*
 * SHARED STYLES
 */

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.0rem;
}

/*
 * ADD YOUR STYLES HERE
 */

/* Header */

.header-container {
  display: grid;
  grid-template-columns: 8;
  grid-template-rows: 1;
  padding: 1rem;
  margin: 1rem;

}
.header-container .nav {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  height: 100px;

}
.nav a {
  grid-row: 1;
  grid-column: 1;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: chocolate;
}
.nav a:hover {
  background-color: #f7ead7;
  color: chocolate;
  border-radius: 3rem;
}
.header-container img {
  grid-row: 7;
  grid-column: 2;
  max-height: 50px;
  max-width: 50px;
  object-fit: cover;
  grid-row: 1/2;
  grid-column: 1/3;
}
/* Main */
h1 {
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
}
.page-container p{
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.skills-container {
  margin: 2rem;
  display: grid;
  grid-row: 2;
  grid-column: 5;
}
.skills-container .web {
  background-color:#cdb4db;
  grid-row: 1/3;
  grid-column: 1;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  position: bottom;
}
.skills-container .ui {
  background-color: #ffafcc;
  grid-row: 1;
  grid-column: 2;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}
.skills-container .css {
  background-color: #ffc8dd;
  grid-row: 1;
  grid-column: 3;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}
.skills-container .js {
  background-color: #bde0fe;
  grid-row: 1;
  grid-column: 4/6;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}
.skills-container .html {
  background-color: #bde0fe;
  grid-row: 2;
  grid-column: 2/4;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}
.skills-container .github {
  background-color: #cdb4db;
  grid-row: 2;
  grid-column: 4/6;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.about-container {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 8;
  padding: 1rem;
}

.about-container img {
  grid-row: 1/8;
  grid-column: 1;
  border-radius: 5rem;
  margin: 1rem;
}
.about-container p{
  grid-column: 2;
  grid-row: 3/5;
  max-height: 1rem;
  border-radius: 5rem;
  margin: 1rem;
  padding: 1rem;
}
.about-container h4{
  grid-column: 2;
  grid-row: 2;
  max-height: 1rem;
  border-radius: 5rem;
  margin: 1rem;
  padding: 1rem;
}
.about-container a{
  background-color: chocolate;
  align-self: center  ;
  border-radius: 5rem;
  text-align: center;
  grid-row: 6;
  grid-column: 2;
  align-items: center;
  margin: 10rem;
}
.about-container a:hover{
  background-color: #f7ead7;
  color: chocolate;
  border-radius: 5rem;
  text-align: center;
  grid-row: 6;
  grid-column: 2;
  align-items: center;
  margin: 10rem;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3;
  padding: 1rem;
  margin-left: 20rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  max-width: 1000px;

}
.work-container h2{
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  margin: 1rem;
  padding: 1rem;

}
.work-container .pt1 {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
}
.pt1 img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 3rem;
  grid-row: 1/2;
  grid-column: 1/3;
}
.pt1 h4 {
  grid-row: 2;
  grid-column: 1/3;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: chocolate;
  border-radius: 4rem;
}
.pt1 .html {
  grid-row: 3;
  grid-column: 1;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
}
.pt1 .css {
  grid-row: 3;
  grid-column: 2;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
}
.work-container .pt2 {
  height: 200px;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  object-fit: none;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
}
.pt2 img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 3rem;
  grid-row: 1/2;
  grid-column: 1/3;
}
.pt2 .html {
  grid-row: 3;
  grid-column: 1;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
}
.pt2 .css {
  grid-row: 3;
  grid-column: 2;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
}
.pt2 h4 {
  grid-row: 2;
  grid-column: 1/3;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: chocolate;
  border-radius: 4rem;
}
.work-container .pt3 {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
}
.pt3 img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 3rem;
  grid-row: 1/2;
  grid-column: 1/3;
}
.pt3 h4 {
  grid-row: 2;
  grid-column: 1/3;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: chocolate;
  border-radius: 4rem;
}
.pt3 .html {
  grid-row: 3;
  grid-column: 1;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
} 
.pt3 .css {
  grid-row: 3;
  grid-column: 2;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
}

.work-container .pt4 {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
}
.pt4 img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 3rem;
  grid-row: 1/2;
  grid-column: 1/4;
}
.pt4 h4 {
  grid-row: 2;
  grid-column: 1/4;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: chocolate;
  border-radius: 4rem;
}
.pt4 .html {
  grid-row: 3;
  grid-column: 1;
  text-align: center;
  
  background-color: chocolate;
  border-radius: 4rem;
}
.pt4 .css {
  grid-row: 3;
  grid-column: 2;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
}
.pt4 .js {
  grid-row: 3;
  grid-column: 3;
  text-align: center;

  background-color: chocolate;
  border-radius: 4rem;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 10rem;
  border-radius: 3rem;
  background-image: radial-gradient(chocolate, #f7ead7 70%);

}
.contact-container a {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: chocolate;
}

a:hover {
  background-color: #f7ead7;
  color: chocolate;
  border-radius: 3rem;
}
.footer-container img {
  max-height: 50px;
  max-width: 50px;
  object-fit: cover;
  grid-row: 1/2;
  grid-column: 1/3;
}